@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d3959b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bfe6ba,
    #d3959b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe6ba,
    #d3959b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
